{% extends "base.html" %}
{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to Your Book Library!</h1>
        <p class="lead">Manage your personal collection of books with ease.</p>
        <hr class="my-4">
        <p>Sign up or log in to start building your library today.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
        </p>
    </div>
{% endblock %}